:root{
    --darkViolet: hsl(256, 26%, 20%);
    --grayishBlue: hsl(216, 30%, 68%);
    --veryDarkViolet: hsl(270, 9%, 17%);
    --darkGrayishViolet: hsl(273, 4%, 51%);
    --veryLightGray: hsl(0, 0%, 98%);
}

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Karla', sans-serif;
}

h1,h2,h3{
    font-family: 'DM Serif Display', serif;
}

.mobile{
    display: flex;
    justify-content: space-between;
    margin: 2rem;
}

.subMenu{
    display: none;
    position: absolute;
    width: 100%;
    height: 100vh;
    background-image: url('./images/bg-pattern-mobile-nav.svg');
    background-position: bottom;
    background-repeat: no-repeat;
    background-color: var(--veryDarkViolet);
    color: var(--veryLightGray);
    text-align: center;
    text-transform: uppercase;
    padding: 2rem 1rem;    
}

.plans{
    border: 3px solid white;
}

.close{
    display: none;
}

.show{
    display: block;
}

.nShow{
    display: none;
}

.subMenu h2{
    font-size: 1.5rem;
    letter-spacing: 2.5px;
    font-weight: 400;
}

.intro{
    background-image: url('./images/image-intro-mobile.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    min-height: 28rem;
    z-index: 1;
}

main{
    
    background-repeat: no-repeat;
    background-position: 20px right;
    z-index: 1;
}

header{    
    background-color: var(--darkViolet);
    color: var(--veryLightGray);    
}

.header-words{
    padding: 5rem 2rem;
}

.header-words hr{
    display: none;   
}

header .header-words::before{
    content: '';
    background-image: url('./images/bg-pattern-intro-right-mobile.svg');
    background-position: bottom right;
    position: absolute;
    bottom: -125%;
    right: 0;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
}
header .header-words::after{
    content: '';
    background-image: url('./images/bg-pattern-intro-left-mobile.svg');
    background-position: top left;
    position: absolute;
    top: 102%;
    left: 0;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
}

h1{
    margin-top: 0;    
    text-align: center;
    font-size: 2.6rem;
    font-weight: 700;
}

.header-words p{
    text-align: center;
    line-height: 1.5;
}

button{
    display: block;
    margin: 2rem auto 0;
    background-color: transparent;
    color: var(--veryLightGray);
    text-transform: uppercase;
    padding: 0.6rem 2rem;
    border: 2px solid white;
}

button:hover{
    background-color: white;
    color: var(--darkViolet);
    cursor: pointer;
}

.details{
    text-align: center;
    padding: 1rem;
}

.details hr{
    width: 60%;
    margin-top: 7rem;
    border-color: hsl(276, 17%, 63%);
}

h2{
    font-size: 3rem;
}

.details img{
    margin-top: 3.5rem;
}

h3{
    font-size: 2rem;
}

.details p{
    line-height: 1.5;
    color: var(--darkGrayishViolet);
    opacity: 0.7;
    font-weight: 700;
    width: 90%;
    text-align: center;
    margin: auto;
}

.how{
    width: 90%;
    background-image: url(./images/bg-pattern-how-we-work-mobile.svg);
    background-repeat: no-repeat;
    background-position: top right;
    background-color: var(--darkViolet);
    padding: 3rem 2rem;
    color: var(--veryLightGray);
    margin: 5rem auto;
}

.attribution {
     font-size: 15px;
     text-align: center;
     padding-bottom: 2rem;
    }
.attribution a { color: hsl(228, 45%, 44%); }

footer{
    background-image: url('./images/bg-pattern-footer-mobile.svg');
    background-repeat: no-repeat;
    background-color: var(--veryLightGray);
    text-align: center;
    padding: 4rem 1rem;
}

.social{
    margin-top: 2rem;
    margin-bottom: 2.5rem;
    color: var(--darkGrayishViolet);
    font-size: x-large;
}

.hov:hover{
    color: var(--darkViolet);
    cursor: pointer;
}

footer h2{
    text-transform: uppercase;
    color: var(--darkGrayishViolet);
    letter-spacing: 2.5px;
    font-size: 1rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

footer h3{
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 2px;
    margin-bottom: 0.5rem;
}

.footer_menu h3:hover{
    text-decoration: underline;
    cursor: pointer;
}

@media (min-width:780px) {
  #hamburger{
      display: none;
  }  

  nav{
      display: flex;
      justify-content: space-between;
      padding: 0 5rem;
  }

  .mobile{
      width: 20%;
  }
  
  .mobile img{
      width: 40%;
      height: 40%;
  }
  .subMenu{
      display: flex;
      width: 60%;
      position:inherit;
      background-image: none;  
      background-color: transparent;
      color: var(--darkGrayishViolet);  
      height: auto;
      padding: 1rem;
      margin: 0;
      gap: 1.5rem;
      align-items: center;
      justify-content: space-between;
  }

  .subMenu h2{
      font-size: 0.7rem;
  }

  .subMenu h2:hover{
      font-weight: bolder;
      cursor: pointer;
  }

  .plans{
      border: 3px solid black;
      padding: 0.5rem 1.5rem;
      color: black;
      font-weight: 800;      
  }

  .plans:hover{
      background-color: var(--darkViolet);
      color: white;
      cursor: pointer;
  }

  .intro{
      background-image: url('./images/image-intro-desktop.jpg');
      position: absolute;
      width: 40%;
      top: 22rem;
      right: 2rem;      
  }

  .header-words{
      width: 40%;
      margin-left: 10rem;
      text-align: left;
      padding-top: 2rem;
  }

  .header-words hr{
    display: block;  
    width: 20%;
    margin-top: 5rem;
    margin-left: 0; 
    text-align: left;
    border-color: hsl(276, 17%, 63%);   
   }

   header .header-words::before{
       content: '';
       background-image: url('./images/bg-pattern-intro-right-desktop.svg');
       background-repeat: no-repeat;
       top: 6.4rem;
       width: 45%;
       height: 45%;
       z-index: 1;
   }

   header .header-words::after{
       content: '';
       background-image: url('./images/bg-pattern-intro-left-desktop.svg');
       background-repeat: no-repeat;
       position: absolute;
       top: 26rem;
   }

   h1{
       text-align: start;
   }

   .details{
       text-align: left;
   }

   .details hr{
     width: 20%;
     text-align: left; 
     margin-left: 5rem; 
   }

   .details h2{
       margin-left: 5rem;
   }

   .characters{
       display: flex;
       margin-left: 5rem;
   }

   .characters h3{
       margin-left: 0;
   }

   .details p{
       text-align: justify;
       margin: 0;
   }

   .how{
       background-image: url('./images/bg-pattern-how-we-work-desktop.svg');
       display: flex;
       justify-content: space-between;
       align-items: center;
   }

   h3{
       width: 35%;
       padding-left: 2rem;
   }

   .how button{
       padding: 0 20px;
       height: 2rem;
       margin: 0 2rem 0 0;
   }

   .footer-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4rem 2rem 4rem;
   }

   .social{
       margin: 0;
   }

   footer{
       background-image: url('./images/bg-pattern-footer-desktop.svg');
   }

   footer hr{
       width: 90%;
   }

   .footer_menu{
       display: flex;
       justify-content: space-between;
       padding: 0 4rem;
   }

   .footer_menu h2{
       margin-left: 0;
       text-align: left;
       font-size: 0.6rem;
       margin: 1.5rem 0;
   }

   .footer_menu h3{
       padding-left: 0;
       font-size: 0.7rem;
       width: 100%;
       text-align: left;
   }
}

@media (min-width:900px) {
    .intro{
        top:18rem;
    }

    header .header-words::before{
        top: 6.4em;
    }
}

@media (min-width:1000px) {
    .intro{
      top: 13rem;      
    }

    header .header-words::before{
        top: 5.5rem;
    }
}

